.swal2-modal .swal2-content .form-control-static {
  font-size: 14px;
}

tbody td a.view ,tbody td a.add ,tbody td a.edit,tbody td a.remove {
  margin-left: 10px;
}

.swal2-modal .swal2-content .form-control-static {
  padding-top: 0px;
}
.swal2-modal .swal2-content .es-list {
  font-size: 14px;
}
